.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5C0099;
}

.form {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(250, 250, 250, 0.7);
    border-radius: 20px;
    color: white;
}

.loginInput{
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
}

input {
    color: #FFFFFF;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    background-color: #444;
    border-radius: 10px;
}

.btn {
    width: 100%;
    background-color: #1E1E1E;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-btn {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    user-select: none;
    cursor: pointer;
}

.text-btn:hover {
    color: #56376B;
}

@media screen and (max-width: 480px) {
    /* set number of columns to 1 for extra small screens */
    .MuiImageList-root {
        grid-template-columns: repeat(1, 1fr)!important;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .MuiImageList-root {
        grid-template-columns: repeat(1, 1fr)!important;
    }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .MuiImageList-root {
        grid-template-columns: repeat(2, 1fr)!important;
    }
}

@media screen and (min-width: 1281px) {
    .MuiImageList-root {
        grid-template-columns: repeat(3, 1fr)!important;
    }
}
