.loginInput{
    padding-top: 0.2rem;
}

.container {
    height: 100vh;
}

.loginTitle {
    padding-bottom: 1rem;
}

.darken input{
    background-color: #666;
    color: #333;
}
@media only screen and (max-width: 480px) {

    .container {
        margin-top: 10rem ;
        margin-bottom: 14rem;
        height: 40vh;
    }
}