.loginInput{
    padding-top: 0.2rem;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginTitle {
    padding-bottom: 1rem;
}

.darken input{
    background-color: #666;
    color: #333;
}
