.profile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #5C0099;
    min-width: 300px;
}

.profile-content {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
}



.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.profile-header h2 {
    font-size: 23px;
    margin-bottom: 10px;
}

.profile-header p {
    font-size: 18px;
}



.profile-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ticket-card {
    border: 2px solid #ccc;
    border-radius: 2rem;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: 300px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out !important;
}

.ticket-card:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}


.ticket-card p {
    font-size: 20px !important;
    margin: 5px 0;
}

.none {
    visibility: hidden;
}

ul{
    text-align: center;
}

p {
    margin-top: 15px;
    font-size: 22px;
    margin-left: 5px;
    font-weight: bold;
}

.btn-confirm {
    background-color: #56376B !important;
    color: #fff !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    border-radius: 0.4rem !important;
    font-size: 1.2rem !important;
    cursor: pointer !important;
    height: 45px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2)!important;
    width: 250px !important;
}

.btn-confirm:hover {
    background-color: #774699 !important;
    transform: scale(1.0) !important;
}

@media only screen and (max-width: 280px){

    h2 {
        font-size: 15px!important;
    }

}

.distabled {
    background-color: #917c9e !important;
    color: #fff !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    border-radius: 0.4rem !important;
    font-size: 1.2rem !important;
    cursor: pointer !important;
    height: 45px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2)!important;
    width: 250px !important;
}
