
::-webkit-scrollbar {
    background-color: #333;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;

}

/* Изменение внешнего вида стрелок прокрутки */
::-webkit-scrollbar-button {
    display: none;
}

/* Изменение внешнего вида трека прокрутки */
::-webkit-scrollbar-track {
    background-color: #333;
}
