card {
    display: none;
    padding: 10rem;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
card{
    display: none;
}
card img {
    object-fit: cover;
    height: 200px;
}
h2 {
    textAlign: center;
    fontSize: 2rem;
    fontWeight: bold;
    margin: 2rem 0;
    color: #ff8c00
}

card-content {
    padding: 16px;
}

card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
.btn {
    background-color: #ff8c00;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
