.Schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .movie-list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .movie {
    width: calc(45% - 28px);
    margin: 0 15px 28px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

h1 {
    font-size: 2.5rem;
}

/* .movie-list {
     
} */

/* .movie {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
    width: 150px;
} */

.movie:hover {
    background-color: #ccc;
    color: white;
}

.selected {
    background-color: #ff8c00;
    color: white;
}

.showtimes {
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}